body, div, p {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

button{
    font-size: 1em;
}

body {
    font-family: "silkscreennormal","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
}

a {
    text-decoration: none;
}

nav{
    display: none;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide .centered {
    width: 90%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    margin: 100px auto 0 auto;
    
}

.slide .centered h1 {
    text-align: center;
}

.slide .centered p {
    text-align: center;
    margin-top: 20px;
}

#slide-1 {
    background-image: linear-gradient(to right,rgba(250,30,30,1) 0%,rgba(200,30,30,1) 45%,rgba(30,30,200,1) 55%,rgba(30,30,250,1) 100%);

}

#slide-2 {
    background-color: #45959b;
}

#slide-3 {
    background-color: #778899;
}

.slide-4 {
    color: #FFFFFF;
    background-color: #291F37;
}

#slide-1 h1{
    display: inline;
}

#x-head, #o-head,#vs-head{   
    display: inline-block;
    position: absolute;
    width: 30%;
    font-size: 5em;
}

#x-head{
    left: 0;
    top: 10%;
    text-align: center;
}

#o-head{
    right:0;
    color: white;
    top: 10%;
    text-align: center;
}

#x-head:hover, #o-head:hover{
    font-size: 5.5em;
}
 
#vs-head{
    bottom:20%;
    left: 0;
    color: slategrey;
    top: 40%;
    width: 100%;
    text-align: center;
}

#continue{
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    left: 0%;
    background-color: rgba(255,255,255,0.2);
    font-size: 2em;
    text-decoration: none;
}

#continue:hover{
    font-size: 2.5em;
    text-decoration: underline;
    height: 15%;
}

.option{
  position: relative;
  margin-top: 5%;
  font-size: 2em;
  height: 20%;
  text-align: center;
}

.option.grid{

}

.decreaseBtn, .increaseBtn{
  cursor:pointer;
}

.title{
    position: relative;
    width: 100%;
    margin-top: 5px;
    font-size: 2em;
    text-align: center;
}

.icon{
  position:relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#icon-1, #icon-2, #icon-3{
    height: 2em;
    width: 10%;
    left: 0;
    margin: 0.5em;
}

.ability{
    text-align: center;
}

.go-prev, .go-next, .go-last {
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    cursor:pointer;
}

@media screen and (min-width: 300px){
  #x-head, #o-head,#vs-head{   
    font-size: 5.5em;
  }
  #x-head:hover, #o-head:hover{
    font-size: 6em;
  }
}

@media screen and (min-width: 500px){
  #x-head, #o-head,#vs-head{   
    font-size: 6em;
  }
  #x-head:hover, #o-head:hover{
    font-size: 6.5em;
  }
  #icon-1, #icon-2, #icon-3{
    height: 4em;
  }
}

@media screen and (min-width: 700px){
  #x-head, #o-head,#vs-head{   
    font-size: 6.5em;
  }
  #x-head:hover, #o-head:hover{
    font-size: 7em;
  }
  #icon-1, #icon-2, #icon-3{
    height: 5em;
  }
}